{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DodoStore</title>
    
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to the {{ app_name }}</h1>
        </div>
        <div class="details">
            <h5>Name:</h5>
            <p>{{ name }}</p>
            <h5>Class:</h5>
            <p>{{ class }}</p>
        </div>
        <a href="products/" class="button">View Products</a>
        <a href="add_product_to_list/" class="button">Add Products</a>
    </div>
</body>
</html>
{% endblock content %}